.ck-editor__editable,
textarea {
    min-height: 150px;
}

.datatable {
    width: 100% !important;
}

.dataTables_length,
.dataTables_filter,
.dt-buttons {
    margin-bottom: 0.333em;
    margin-top: .2rem;
}

.dataTables_filter {
    margin-right: .2rem;
}

.dt-buttons .btn {
    margin-left: 0.333em;
    border-radius: 0;
}

.table.datatable {
    box-sizing: border-box;
    border-collapse: collapse;
}

table.dataTable thead th {
    border-bottom: 2px solid #c8ced3;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #c8ced3;
}

.select2 {
    max-width: 100%;
    width: 100% !important;
}

.select2-selection__rendered {
    padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
    display: block !important;
}

.btn-info,
.badge-info {
    color: white;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
    background-image: none;
}

.sidebar .nav-item {
    cursor: pointer;
}

.btn-default {
    color: #23282c;
    background-color: #f0f3f5;
    border-color: #f0f3f5;
}

.btn-default.focus,
.btn-default:focus {
    box-shadow: 0 0 0 .2rem rgba(209, 213, 215, .5);
}

.btn-default:hover {
    color: #23282c;
    background-color: #d9e1e6;
    border-color: #d1dbe1;
}

.btn-group-xs > .btn,
.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}.rsts-main,.rsts-main *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.rsts-header,.rsts-footer,.rsts-thumbs-header,.rsts-thumbs-footer{overflow:hidden}.rsts-view,.rsts-thumbs-view{position:relative}@media print{.rsts-view,.rsts-thumbs-view{position:static}}.rsts-crop,.rsts-thumbs-crop{position:relative;overflow:hidden}@media print{.rsts-crop,.rsts-thumbs-crop{position:static;overflow:visible;width:auto !important;height:auto !important;transform:none !important}}.rsts-slides,.rsts-slide,.rsts-thumbs-slides,.rsts-thumbs-slide{position:absolute;left:0;top:0}@media print{.rsts-slides,.rsts-slide,.rsts-thumbs-slides,.rsts-thumbs-slide{position:static;width:auto !important;height:auto !important;transform:none !important}.rsts-slides.rsts-slide-image img,.rsts-slides.rsts-slide-video img,.rsts-slides.rsts-thumbs-slide-image img,.rsts-slides.rsts-thumbs-slide-video img,.rsts-slide.rsts-slide-image img,.rsts-slide.rsts-slide-video img,.rsts-slide.rsts-thumbs-slide-image img,.rsts-slide.rsts-thumbs-slide-video img,.rsts-thumbs-slides.rsts-slide-image img,.rsts-thumbs-slides.rsts-slide-video img,.rsts-thumbs-slides.rsts-thumbs-slide-image img,.rsts-thumbs-slides.rsts-thumbs-slide-video img,.rsts-thumbs-slide.rsts-slide-image img,.rsts-thumbs-slide.rsts-slide-video img,.rsts-thumbs-slide.rsts-thumbs-slide-image img,.rsts-thumbs-slide.rsts-thumbs-slide-video img{width:100% !important;height:auto !important;margin:0 !important}}.rsts-slide,.rsts-thumbs-slide{overflow:hidden}@media print{.rsts-slide,.rsts-thumbs-slide{position:static}}.rsts-video-iframe,.rsts-thumbs-video-iframe{position:absolute;top:0;left:0;width:100%;height:100%}.rsts-type-slide .rsts-view,.rsts-thumbs-type-slide .rsts-thumbs-view{cursor:url("../../bundles/rocksolidslider/img/openhand.cur"),default;cursor:-webkit-grab;cursor:-moz-grab;cursor:-ms-grab;cursor:-o-grab;cursor:grab}.rsts-type-slide.rsts-dragging .rsts-view,.rsts-thumbs-type-slide.rsts-thumbs-dragging .rsts-thumbs-view{cursor:url("../../bundles/rocksolidslider/img/closedhand.cur"),default;cursor:-webkit-grabbing;cursor:-moz-grabbing;cursor:-ms-grabbing;cursor:-o-grabbing;cursor:grabbing;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.rsts-type-slide.rsts-dragging-disabled .rsts-view,.rsts-thumbs-type-slide.rsts-thumbs-dragging-disabled .rsts-thumbs-view{cursor:auto}@media print{.rsts-nav,.rsts-prev,.rsts-next,.rsts-overlay-prev,.rsts-overlay-next,.rsts-progress,.rsts-thumbs-nav,.rsts-thumbs-prev,.rsts-thumbs-next,.rsts-thumbs-overlay-prev,.rsts-thumbs-overlay-next,.rsts-thumbs-progress{display:none !important}}

.rsts-skin-default.rsts-main{position:relative}.rsts-skin-default.rsts-type-fade .rsts-slide{background-color:#fff}.rsts-skin-default .rsts-caption{position:absolute;top:20px;left:20px;margin-right:20px;padding:5px 10px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;color:#fff;background-color:#000;background-color:rgba(0,0,0,0.4);filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;-webkit-transform:translate(0, -20px);-moz-transform:translate(0, -20px);-ms-transform:translate(0, -20px);-o-transform:translate(0, -20px);transform:translate(0, -20px);-webkit-transition:opacity 0.5s,-webkit-transform 0.5s;-moz-transition:opacity 0.5s,-moz-transform 0.5s;-o-transition:opacity 0.5s,-o-transform 0.5s;transition:opacity 0.5s,transform 0.5s}.rsts-skin-default .rsts-active .rsts-caption{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1;-webkit-transform:translate(0, 0);-moz-transform:translate(0, 0);-ms-transform:translate(0, 0);-o-transform:translate(0, 0);transform:translate(0, 0)}.rsts-skin-default .rsts-prev,.rsts-skin-default .rsts-next,.rsts-skin-default .rsts-video-play,.rsts-skin-default .rsts-video-stop,.rsts-skin-default .rsts-thumbs-prev,.rsts-skin-default .rsts-thumbs-next{position:absolute;right:55px;bottom:15px;overflow:hidden;width:30px;height:30px;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.1);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;outline:none;line-height:0;text-align:center;text-decoration:none;text-indent:-9999px;-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAilBMVEUHBwg/QEF5enp5ensCAwQHCAhzdHUAAQEGBwh8fX37+/svMDBub3COjo9yc3NtbW709fWvsLDm5uba2trR0dEuLi6Pj4/Q0NDl5eXZ2toFBgfz8/MuLy/09PT29vb8/Pz6+vp7e3x0dXZzdHT4+Pj39/f9/v3+/v79/f3///8EBQb5+fkAAAD19fVMP6q+AAAALnRSTlOAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICA8hTP8QAAAJ1JREFUeNrV0lkPwiAMAOB53zrva2xOxQm0///vWZ4a1o3EN20gNPnSlFASRKVQIS2KFHPKaPvcH8St8WesXYzddVMIZn3NZ1tTZ9Y7QLa7MdfVWlgYZqk9lzML7VZPbGCdDsFekpI14GoN/fGoY6aqkbVaUvVg0lKN7v3wvcuwt/Tg5tIPRjA77I/i1dhX2dnEJnYq4vP+2a/4FX8AsSOXytKixMYAAAAASUVORK5CYII=');-webkit-box-shadow:0 0 2px rgba(0,0,0,0.1);-moz-box-shadow:0 0 2px rgba(0,0,0,0.1);box-shadow:0 0 2px rgba(0,0,0,0.1);background-position:50% 50%;-webkit-transition:opacity 0.05s linear;-moz-transition:opacity 0.05s linear;-o-transition:opacity 0.05s linear;transition:opacity 0.05s linear}@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-device-pixel-ratio: 4 / 3), only screen and (min-device-pixel-ratio: 1.3){.rsts-skin-default .rsts-prev,.rsts-skin-default .rsts-next,.rsts-skin-default .rsts-video-play,.rsts-skin-default .rsts-video-stop,.rsts-skin-default .rsts-thumbs-prev,.rsts-skin-default .rsts-thumbs-next{background-image:url('data:"image/png";base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAAIVBMVEWhoaE7PD15enqVlpaTk5N2d3h0dHVoaWpmZmcGBwj19fXsWX/bAAAAC3RSTlOAgICAgICAgICAgMiF55wAAAB9SURBVHja7dUxEoAgFANRFBTw/ge2YythEivHn/6VmU3XiwUOHPhPuGYf196zjLHPOi0tWsBYtICx/Zxgw4INCzYs2LBgw4INC55ZFadhN+NVbeh9jhf6mGJDgw0NNjTY0GBDgz0NXusiYDRWwGisgNHFL0Yrnwxd4MCBtd3+EosAicYyWQAAAABJRU5ErkJggg==');background-size:30px,30px}}.rsts-skin-default .rsts-prev:hover,.rsts-skin-default .rsts-next:hover,.rsts-skin-default .rsts-video-play:hover,.rsts-skin-default .rsts-video-stop:hover,.rsts-skin-default .rsts-thumbs-prev:hover,.rsts-skin-default .rsts-thumbs-next:hover{background-color:#eee;background-color:rgba(238,238,238,0.7)}.rsts-skin-default .rsts-next,.rsts-skin-default .rsts-thumbs-next{right:20px;background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAkFBMVEUBAQLPz9AlJiYlJifS0tIsLS0nJyjQ0dDR0tIBAQElJSYrLC2tra39/PwFBQYFBgf6+fmBgYKCgoL9/f339vZBQULIycnIyMiCg4PR0dEmJycmJyjMzMz8/Pzl5eXj4+MCAwQGBwghIiP09PT7+/shIiL6+vrNzs7Nzc0iIyP29vb39/cHCAkAAAD////19fV/WdL3AAAAMHRSTlOAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICRnvRdAAAAnklEQVR42tXSxw7CMAwG4LL3XqUtLdRQqNPY7/92WEJVDhkSN7B8iPTpl6M4ETMAA0t/ChmwPTELe+uPGKsQKywWflYUJxn5eI9xpOsneXidp7pp3Wa+dHrGbWY6d43bLD673nR9vLsZaL5cNfoAyp0eDyRdntxp6icy+/Ei981HqVGLq3xo1GaFm4kuRb1vvp1mFNzYLrzvn/2KX/MbXNOe099MDj0AAAAASUVORK5CYII=')}@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-device-pixel-ratio: 4 / 3), only screen and (min-device-pixel-ratio: 1.3){.rsts-skin-default .rsts-next,.rsts-skin-default .rsts-thumbs-next{background-image:url('data:"image/png";base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAAHlBMVEWhoaE7PD2VlpaTk5N2d3h0dHVoaWpmZmcGBwj19fXtfGSSAAAACnRSTlOAgICAgICAgICAXdxslAAAAHxJREFUeNrt1TEOgDAMxdDSAi33vzBbPVUoZkLE+1O2/HK9KHHixH/A9fS4jnGGMfZZl6VFBzAWHcLHQD9gocFCg4UGCw0WGiw0WGjwum3qEsb7tH1xWViwsGBhwcKChQULC5Z2jRs2itHdfc+GjWB094vR+ieHLnHixK4bjyV89TB6vlgAAAAASUVORK5CYII=');background-size:30px,30px}}.rsts-skin-default .rsts-thumbs-prev,.rsts-skin-default .rsts-thumbs-next{position:absolute;top:50%;right:10px;margin-top:-15px}.rsts-skin-default .rsts-thumbs-prev{right:auto;left:10px}.rsts-skin-default.rsts-direction-y .rsts-prev{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAbFBMVEUgISLDw8MgICGUlZaIiImSk5PCwsP9/f39/PyHh4iUlJWSkpLX2NgAAQIoKSkGBwgdHR7Ly8skJSYEBAXHyMj+/v739/ciIyMhIiImJyfNzc3S0tL8/Pz7+/v29vYHCAnNzs4AAAD////19fVh+HN2AAAAJHRSTlOAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC401waAAAAiUlEQVR42uXRyQ7CMAwE0LC2QHfaQkji1sP//yNR1csEiXMlfPFI7zCWbN7JCCVmnj9i738x2hbMpHPTzCAmfag+XyAmrWt2QzqV5URuSLWqdHXmsDMRbFHYuPbnkPBw0rtaBzgbw21IWPKjdg6xxHV68ZJ2j9mhXyrRX/34fblgLQyQLf57S/wBI9V2nx3O9QoAAAAASUVORK5CYII=')}@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-device-pixel-ratio: 4 / 3), only screen and (min-device-pixel-ratio: 1.3){.rsts-skin-default.rsts-direction-y .rsts-prev{background-image:url('data:"image/png";base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAAG1BMVEWjpKQ5OTqVlpaTk5NmZmdoaWp2d3gGBwj19fXoTOf7AAAACXRSTlOAgICAgICAgIC7HeZcAAAAeUlEQVR42u3UMQ6AMAzF0A8BmvufGHVpyOIOFRJI8f5WyxcqXLhw4U9jLeCznYzRNtYi2zsIs2UttqzFlrXYshZb1mLLWmg31iJ7+YVaaJ210GY9x/awWdsc+z5s1uaEQ4cNbY449LChzQFn3W3S9qsBFi5cuPDr+AYQcW8C6kiUiAAAAABJRU5ErkJggg==');background-size:30px,30px}}.rsts-skin-default.rsts-direction-y .rsts-next{background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAbFBMVEUwMTKKi4suLzAGBwja2trR0dEwMDEuLi/Q0NDZ2dmJiYp7e3x6e3t/gIEAAQL09PTn5+f6+vr8/Px0dHVwcHH8/f329vYFBgdzdHT+/v79/v339/f9/f3///90dXb4+Pj5+fkEBQYAAAD19fUC5l8BAAAAJHRSTlOAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIC401waAAAAnElEQVR42uXSyQ4CIQwG4HEddRZmZUSEQnn/d7RkSAi4HI2Jf6AlfIceoHCOMcccrTXcMR5OtInf5k/YyLVL84qHjoHvwLrhmdW+0AJIhT6eVc79YYtYCQBRIZanPmO1QWuxVqr2/aIylqD9fdP4OoLMZ5sb+dK2i8Xr3cTZie+CRk49aOTUcSRNOfo8TXPUnB1QPj0J5z/5Hb7OD7UPdeTEuFeXAAAAAElFTkSuQmCC')}@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-device-pixel-ratio: 4 / 3), only screen and (min-device-pixel-ratio: 1.3){.rsts-skin-default.rsts-direction-y .rsts-next{background-image:url('data:"image/png";base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAAG1BMVEWjpKQ5OTqVlpaTk5NmZmdoaWp2d3gGBwj19fXoTOf7AAAACXRSTlOAgICAgICAgIC7HeZcAAAAg0lEQVR42u3UMQ6EMAxE0WVDYu5/YhpLXzBSRkAF8i9tvXZ+24MKFy5c+HP4P06H0RzGRoyjjWgOY1Nj0YLFpsaip7hFNrBog3ug02brDKsWK3imxQqe6EWsxWi1HqOxHqONBTuN9RiN9Vg11mPVWI9V99tL0rEe6/dVA1i4cOHCl9oBak1vAkBKLfwAAAAASUVORK5CYII=');background-size:30px,30px}}.rsts-skin-default.rsts-video-playing .rsts-nav,.rsts-skin-default.rsts-video-playing .rsts-prev,.rsts-skin-default.rsts-video-playing .rsts-next{display:none}.rsts-skin-default.rsts-video-playing .rsts-nav-thumbs{display:block}.rsts-skin-default.rsts-touch .rsts-nav-numbers,.rsts-skin-default.rsts-touch .rsts-nav-tabs{display:none}.rsts-skin-default .rsts-nav{position:absolute;right:95px;bottom:12px;left:10px;text-align:right}.rsts-skin-default .rsts-nav ul{margin:0 !important;padding:0 !important}.rsts-skin-default .rsts-nav li{display:inline}.rsts-skin-default .rsts-nav-numbers a,.rsts-skin-default .rsts-nav-tabs a{display:inline-block;height:30px;min-width:30px;padding:0.65em 0.5em 0.5em;margin:0 2px 3px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;outline:none;font-size:12px;text-align:center;text-decoration:none;color:#fff;background-color:#555;background-color:rgba(85,85,85,0.6);-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;-webkit-box-shadow:0 0 2px rgba(0,0,0,0.2);-moz-box-shadow:0 0 2px rgba(0,0,0,0.2);box-shadow:0 0 2px rgba(0,0,0,0.2);filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;-webkit-transition:opacity 0.2s ease-in;-moz-transition:opacity 0.2s ease-in;-o-transition:opacity 0.2s ease-in;transition:opacity 0.2s ease-in}.rsts-skin-default .rsts-nav-numbers a:hover,.rsts-skin-default .rsts-nav-numbers a.active,.rsts-skin-default .rsts-nav-tabs a:hover,.rsts-skin-default .rsts-nav-tabs a.active{color:#333;background-color:#fff;background-color:rgba(255,255,255,0.5)}.rsts-skin-default:hover .rsts-nav-numbers a,.rsts-skin-default:hover .rsts-nav-tabs a{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1}.rsts-skin-default .rsts-nav-bullets{line-height:0}.rsts-skin-default .rsts-nav-bullets a{display:inline-block;width:9px;height:9px;overflow:hidden;margin:12px 4px;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;outline:none;text-align:left;text-indent:-999px;background-color:#fff;background-color:rgba(255,255,255,0.8);-webkit-background-clip:padding;-moz-background-clip:padding;background-clip:padding-box;-webkit-box-shadow:0 0 2px #777;-moz-box-shadow:0 0 2px #777;box-shadow:0 0 2px #777}.rsts-skin-default .rsts-nav-bullets a:hover,.rsts-skin-default .rsts-nav-bullets a.active{background-color:#777;-webkit-box-shadow:inset 0 2px 0 -1px rgba(255,255,255,0.5),inset 0 -2px 0 -1px rgba(0,0,0,0.3),0 0 0 1px #555;-moz-box-shadow:inset 0 2px 0 -1px rgba(255,255,255,0.5),inset 0 -2px 0 -1px rgba(0,0,0,0.3),0 0 0 1px #555;box-shadow:inset 0 2px 0 -1px rgba(255,255,255,0.5),inset 0 -2px 0 -1px rgba(0,0,0,0.3),0 0 0 1px #555}.rsts-skin-default .rsts-nav-thumbs{position:static;padding-top:5px}.rsts-skin-default .rsts-nav .rsts-nav-prev,.rsts-skin-default .rsts-nav .rsts-nav-next{display:none}.rsts-skin-default .rsts-video-play{top:50%;right:auto;bottom:auto;left:50%;width:64px;height:64px;margin:-32px 0 0 -32px;border:none;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEYAAABGCAMAAABG8BK2AAAAb1BMVEU4ODgGBgbx8fGurq7i4uIODg5QUFD7+/vBwcEUFBQYGBggICC1tbXNzc0JCQkVFRWsrKwTExPExMTS0tImJibv7+9KSkozMzP4+PhYWFj+/v6Dg4MDAwPl5eVycnKenp4MDAza2toPDw////8AAACZ5/RyAAAAJXRSTlOAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAwmBGiwAAALNJREFUeNrt1kcOwkAQRFFyxsYmBxtDc/8zIrGpA/xaWKhnO9KT5ncvZvCxnGSSSSaZv2GK0sIsFzMHM53MWwPzfkU8OwsT9cHCRHOyMHFpLYwCIUaBEKNAiFEgxCgQYhSIMQrEGAXijAJxJrZrC7NZGZjb/WF41PHqSLw/Owa+q9D6KQthlAUwykIYZSGMsiBGWRCjLIhRFsQoC2Ga0S8LZMqx7gAzLPr0aUsmmWSS6SXzBf8cqwAv1zglAAAAAElFTkSuQmCC')}@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-device-pixel-ratio: 4 / 3), only screen and (min-device-pixel-ratio: 1.3){.rsts-skin-default .rsts-video-play{background-image:url('data:"image/png";base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAACMCAMAAACZHrEMAAAARVBMVEUJCQlOTk4nJyddXV1gYGD29vbh4eGTk5PAwMA2NjYYGBgGBga3t7dUVFQtLS0SEhKHh4fb29sDAwPz8/NaWlr///8AAACZTZFgAAAAF3RSTlOAgICAgICAgICAgICAgICAgICAgICAgCZn8kAAAAFfSURBVHja7dpZUsMwFAVR5gDRLMT+l8r1Cqjih/5oLyB1kurYlp4evkGXGDFixIgRI0aMGDFixIgRI0aMGDFifseQvsBfPvjrdgdhzvsnCHPePkCY8/oCwpxzu4MwCQeESTggTMIBYa5wQJiEA8IkHBAm4YAwVzggTMIBYRIOCJNwQJgrHBAm4YAwCQeESTggzBUOCJNwQJiEA8IkHBDmCgeESTggTMIBYRIOCHOFA8IkHBAm4YAw5/UZhDn7iYOZjfPLlM5pZizMv2lXzk1vNs4duHTOs2kszFN7V87L1WycN73SOe/AY2FWB7tyFnGzcVaUpXPW2mNhdiF25WwWzcbZuSqds6c3Fma3c1fOpvRsnB3y0jmzg7EwU5VdOcOv2TiTuNI5M8qxMNPbXTlD9tk4E//SOWchxsKcEnmsoMM8qGNOYsRgLjFixIgRI0aMGDFixIgRI0aMGDH/e/0Ai4OJ2+ZcrkwAAAAASUVORK5CYII=');background-size:70px,70px}}.rsts-skin-default .rsts-video-stop{top:20px;right:20px;left:auto;background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAbFBMVEWnp6dOTk7x8fHv7+9HR0fw8PDu7u7e3t5NTU3f398UFBQTExP4+PhLS0tvb29xcXH09PRJSUn39/fn5+cWFhampqb29vZISEhMTExLS0ukpKT////r6+sAAAD///8AAABKSkr19fUAAAD///8df9PJAAAAJHRSTlN6e35+e35+e3t7fX1/fHl5fXt/e315fnt7e3p/foGBfnt9gIDdofLFAAAAk0lEQVR42u2SSQ7DIAxF03nKPBEC2Ni9/x3jsMXqsuqiljxITx/8EcX7Y/wxuOmUhmPhIMdlg4akzxGbMscrBu4IyHLANce+Ymb7WKRWPsdyqpCnZJzVzUmUEgvpxmAYA4dxAB3TIanvupqisJdkRwr2O403K9V43bdpgaLuu6/x3KY7sO7VN7+m4TI5+K3v8H28AYM7doAzbo6MAAAAAElFTkSuQmCC')}@media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-device-pixel-ratio: 4 / 3), only screen and (min-device-pixel-ratio: 1.3){.rsts-skin-default .rsts-video-stop{background-image:url('data:"image/png";base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAALVBMVEXo6OjGxsZjY2PKysq3t7ewsLCOjo7f39+Pj4/l5eVfX19hYWHj4+NRUVH///80A/15AAAAD3RSTlOGkL2PlZemiKWHvr2HyICcCOzTAAAAv0lEQVR42u3VSQ7DIAxA0bRJSBjs+x83mzYfNnatLqpKeM0THmRY9IuYeOKJJ7bwlsdTWwCfUpsS+Smni7EipfVW5PQwtte5iqAdvIvcGiuy25gs0e1ta7YwuqJ76+NRr6P1MbkSTM7HaKyP0QXK1HyMxgaxrjde1cBe1TV4MzZeMxYdm7OvF9OWR7H0YtpDG/ojnDurnc6hfT7Iw9tnImE7ney00bdFJ3Uw+mXpQoq822Nv8/Yf383EE0/8G3wBfh3Bcn7dsMIAAAAASUVORK5CYII=');background-size:30px,30px}}.rsts-skin-default .rsts-video-youtube>.rsts-video-stop{top:25px}.rsts-skin-default .rsts-video-vimeo>.rsts-video-stop{top:10px;right:auto;left:10px}.rsts-skin-default .rsts-progress{position:absolute;top:0;right:0;width:100%;height:2px;background-color:#000;filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);opacity:0;-webkit-transition:opacity 0.2s linear;-moz-transition:opacity 0.2s linear;-o-transition:opacity 0.2s linear;transition:opacity 0.2s linear}.rsts-skin-default .rsts-progress div{height:100%;background-color:#fff}.rsts-skin-default .rsts-progress.rsts-progress-active{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=30);opacity:0.3}.rsts-skin-default .rsts-thumbs-slide{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);opacity:0.8}.rsts-skin-default .rsts-thumbs-slide.rsts-thumbs-active-thumb{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1}

.rs-columns {
  clear: both;
  display: inline-block;
  width: 100%;
}

.rs-column {
  float: left;
  width: 100%;
  margin-top: 7.69231%;
  margin-right: 7.69231%;
}
.rs-column.-large-first {
  clear: left;
}
.rs-column.-large-last {
  margin-right: -5px;
}
.rs-column.-large-first-row {
  margin-top: 0;
}
.rs-column.-large-col-1-1 {
  width: 100%;
}
.rs-column.-large-col-2-1 {
  width: 46.15385%;
}
.rs-column.-large-col-2-2 {
  width: 100%;
}
.rs-column.-large-col-3-1 {
  width: 28.20513%;
}
.rs-column.-large-col-3-2 {
  width: 64.10256%;
}
.rs-column.-large-col-3-3 {
  width: 100%;
}
.rs-column.-large-col-4-1 {
  width: 19.23077%;
}
.rs-column.-large-col-4-2 {
  width: 46.15385%;
}
.rs-column.-large-col-4-3 {
  width: 73.07692%;
}
.rs-column.-large-col-4-4 {
  width: 100%;
}
.rs-column.-large-col-5-1 {
  width: 13.84615%;
}
.rs-column.-large-col-5-2 {
  width: 35.38462%;
}
.rs-column.-large-col-5-3 {
  width: 56.92308%;
}
.rs-column.-large-col-5-4 {
  width: 78.46154%;
}
.rs-column.-large-col-5-5 {
  width: 100%;
}
.rs-column.-large-col-6-1 {
  width: 10.25641%;
}
.rs-column.-large-col-6-2 {
  width: 28.20513%;
}
.rs-column.-large-col-6-3 {
  width: 46.15385%;
}
.rs-column.-large-col-6-4 {
  width: 64.10256%;
}
.rs-column.-large-col-6-5 {
  width: 82.05128%;
}
.rs-column.-large-col-6-6 {
  width: 100%;
}
@media screen and (max-width: 900px) {
  .rs-column {
    margin-top: 7.69231%;
    margin-right: 7.69231%;
  }
  .rs-column.-large-first {
    clear: none;
  }
  .rs-column.-large-last {
    margin-right: 7.69231%;
  }
  .rs-column.-large-first-row {
    margin-top: 7.69231%;
  }
  .rs-column.-medium-first {
    clear: left;
  }
  .rs-column.-medium-last {
    margin-right: -5px;
  }
  .rs-column.-medium-first-row {
    margin-top: 0;
  }
  .rs-column.-medium-col-1-1 {
    width: 100%;
  }
  .rs-column.-medium-col-2-1 {
    width: 46.15385%;
  }
  .rs-column.-medium-col-2-2 {
    width: 100%;
  }
  .rs-column.-medium-col-3-1 {
    width: 28.20513%;
  }
  .rs-column.-medium-col-3-2 {
    width: 64.10256%;
  }
  .rs-column.-medium-col-3-3 {
    width: 100%;
  }
  .rs-column.-medium-col-4-1 {
    width: 19.23077%;
  }
  .rs-column.-medium-col-4-2 {
    width: 46.15385%;
  }
  .rs-column.-medium-col-4-3 {
    width: 73.07692%;
  }
  .rs-column.-medium-col-4-4 {
    width: 100%;
  }
  .rs-column.-medium-col-5-1 {
    width: 13.84615%;
  }
  .rs-column.-medium-col-5-2 {
    width: 35.38462%;
  }
  .rs-column.-medium-col-5-3 {
    width: 56.92308%;
  }
  .rs-column.-medium-col-5-4 {
    width: 78.46154%;
  }
  .rs-column.-medium-col-5-5 {
    width: 100%;
  }
  .rs-column.-medium-col-6-1 {
    width: 10.25641%;
  }
  .rs-column.-medium-col-6-2 {
    width: 28.20513%;
  }
  .rs-column.-medium-col-6-3 {
    width: 46.15385%;
  }
  .rs-column.-medium-col-6-4 {
    width: 64.10256%;
  }
  .rs-column.-medium-col-6-5 {
    width: 82.05128%;
  }
  .rs-column.-medium-col-6-6 {
    width: 100%;
  }
}
@media screen and (max-width: 599px) {
  .rs-column {
    margin-right: 7.69231%;
  }
  .rs-column.-medium-first {
    clear: none;
  }
  .rs-column.-medium-last {
    margin-right: 7.69231%;
  }
  .rs-column.-medium-first-row {
    margin-top: 7.69231%;
  }
  .rs-column.-small-first {
    clear: left;
  }
  .rs-column.-small-last {
    margin-right: -5px;
  }
  .rs-column.-small-first-row {
    margin-top: 0;
  }
  .rs-column.-small-col-1-1 {
    width: 100%;
  }
  .rs-column.-small-col-2-1 {
    width: 46.15385%;
  }
  .rs-column.-small-col-2-2 {
    width: 100%;
  }
  .rs-column.-small-col-3-1 {
    width: 28.20513%;
  }
  .rs-column.-small-col-3-2 {
    width: 64.10256%;
  }
  .rs-column.-small-col-3-3 {
    width: 100%;
  }
  .rs-column.-small-col-4-1 {
    width: 19.23077%;
  }
  .rs-column.-small-col-4-2 {
    width: 46.15385%;
  }
  .rs-column.-small-col-4-3 {
    width: 73.07692%;
  }
  .rs-column.-small-col-4-4 {
    width: 100%;
  }
  .rs-column.-small-col-5-1 {
    width: 13.84615%;
  }
  .rs-column.-small-col-5-2 {
    width: 35.38462%;
  }
  .rs-column.-small-col-5-3 {
    width: 56.92308%;
  }
  .rs-column.-small-col-5-4 {
    width: 78.46154%;
  }
  .rs-column.-small-col-5-5 {
    width: 100%;
  }
  .rs-column.-small-col-6-1 {
    width: 10.25641%;
  }
  .rs-column.-small-col-6-2 {
    width: 28.20513%;
  }
  .rs-column.-small-col-6-3 {
    width: 46.15385%;
  }
  .rs-column.-small-col-6-4 {
    width: 64.10256%;
  }
  .rs-column.-small-col-6-5 {
    width: 82.05128%;
  }
  .rs-column.-small-col-6-6 {
    width: 100%;
  }
}

    #message {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    #inner-message {
        margin: 0 auto;
    }

    .block-dial {
        background: #fafafa;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 4px solid #ccc;
        box-shadow: 0 0 1px #222, inset 0 0 4px #333;
        position: relative;
    }

    .block-dial:after, .block-dial:before {
        content: "";
        position: absolute;
        border-radius: 50%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    .block-dial:after {
        background: radial-gradient(ellipse at center, #bfbfbf 0%, #fefefe 100%);
        box-shadow: 0 0 1px #888;
        width: 10px;
        height: 10px;
        z-index: 2;
    }

    .block-dial:before {
        width: 150px;
        height: 150px;
        background: rgba(255, 255, 255, 0.4);
        border: 1px dashed #ccc;
    }

    .block-dial__arrow-hour {
        position: absolute;
        width: 4px;
        height: 60px;
        background: #aaa;
        top: 40px;
        left: 98px;
        transform-origin: center bottom;
    }

    .block-dial__arrow-second {
        position: absolute;
        z-index: 1;
        width: 2px;
        height: 95px;
        background: tomato;
        top: 5px;
        left: 99px;
        transform-origin: center bottom;
    }

    .block-dial__arrow-minute {
        position: absolute;
        z-index: 1;
        width: 4px;
        height: 90px;
        background: #ccc;
        top: 10px;
        left: 98px;
        transform-origin: center bottom;
    }

    .flex-container {
        margin: auto;
        max-width: 900px;
        display: flex;
        justify-content: space-between;
    }

    .block_head {
        text-align: center;
        font-family: Arial;
        font-size: 20px;
    }

    .block-dial__hours-point {
        display: block;
        width: 16px;
        height: 100px;
        transform-origin: center bottom;
        position: absolute;
        left: 92px;
        top: 0;
        z-index: 0;
    }

    .block-dial__hours-point:after {
        display: block;
        text-align: center;
        color: #555;
        font-family: Arial;
        font-size: 13px;
        line-height: 2;
        font-weight: bold;
    }

    .block-dial__hours-point:nth-child(1):after {
        content: "1";
    }

    .block-dial__hours-point:nth-child(2):after {
        content: "2";
    }

    .block-dial__hours-point:nth-child(3):after {
        content: "3";
    }

    .block-dial__hours-point:nth-child(4):after {
        content: "4";
    }

    .block-dial__hours-point:nth-child(5):after {
        content: "5";
    }

    .block-dial__hours-point:nth-child(6):after {
        content: "6";
    }

    .block-dial__hours-point:nth-child(7):after {
        content: "7";
    }

    .block-dial__hours-point:nth-child(8):after {
        content: "8";
    }

    .block-dial__hours-point:nth-child(9):after {
        content: "9";
    }

    .block-dial__hours-point:nth-child(10):after {
        content: "10";
    }

    .block-dial__hours-point:nth-child(11):after {
        content: "11";
    }

    .block-dial__hours-point:nth-child(12):after {
        content: "12";
    }

    .block-dial__hours-point:nth-child(1) {
        transform: rotate(30deg);
    }

    .block-dial__hours-point:nth-child(2) {
        transform: rotate(60deg);
    }

    .block-dial__hours-point:nth-child(3) {
        transform: rotate(90deg);
    }

    .block-dial__hours-point:nth-child(4) {
        transform: rotate(120deg);
    }

    .block-dial__hours-point:nth-child(5) {
        transform: rotate(150deg);
    }

    .block-dial__hours-point:nth-child(6) {
        transform: rotate(180deg);
    }

    .block-dial__hours-point:nth-child(7) {
        transform: rotate(210deg);
    }

    .block-dial__hours-point:nth-child(8) {
        transform: rotate(240deg);
    }

    .block-dial__hours-point:nth-child(9) {
        transform: rotate(270deg);
    }

    .block-dial__hours-point:nth-child(10) {
        transform: rotate(300deg);
    }

    .block-dial__hours-point:nth-child(11) {
        transform: rotate(330deg);
    }

    .block-dial__hours-point:nth-child(12) {
        transform: rotate(360deg);
    }

    .block-dial__hours-point:nth-child(1):nth-child(1):after {
        transform: rotate(-30deg);
    }

    .block-dial__hours-point:nth-child(2):nth-child(2):after {
        transform: rotate(-60deg);
    }

    .block-dial__hours-point:nth-child(3):nth-child(3):after {
        transform: rotate(-90deg);
    }

    .block-dial__hours-point:nth-child(4):nth-child(4):after {
        transform: rotate(-120deg);
    }

    .block-dial__hours-point:nth-child(5):nth-child(5):after {
        transform: rotate(-150deg);
    }

    .block-dial__hours-point:nth-child(6):nth-child(6):after {
        transform: rotate(-180deg);
    }

    .block-dial__hours-point:nth-child(7):nth-child(7):after {
        transform: rotate(-210deg);
    }

    .block-dial__hours-point:nth-child(8):nth-child(8):after {
        transform: rotate(-240deg);
    }

    .block-dial__hours-point:nth-child(9):nth-child(9):after {
        transform: rotate(-270deg);
    }

    .block-dial__hours-point:nth-child(10):nth-child(10):after {
        transform: rotate(-300deg);
    }

    .block-dial__hours-point:nth-child(11):nth-child(11):after {
        transform: rotate(-330deg);
    }

    .block-dial__hours-point:nth-child(12):nth-child(12):after {
        transform: rotate(-360deg);
    }

</style>
<style>


    .box {

        position: relative;

        border-radius: 3px;

        background: #ffffff;

        border-top: 3px solid #d2d6de;

        margin-bottom: 20px;

        width: 100%;

        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)

    }


    .box.box-primary {

        border-top-color: #3c8dbc

    }


    .box.box-info {

        border-top-color: #00c0ef

    }


    .box.box-danger {

        border-top-color: #dd4b39

    }


    .box.box-warning {

        border-top-color: #f39c12

    }


    .box.box-success {

        border-top-color: #00a65a

    }


    .box.box-default {

        border-top-color: #d2d6de

    }


    .box.collapsed-box .box-body,
    .box.collapsed-box .box-footer {

        display: none

    }


    .box .nav-stacked > li {

        border-bottom: 1px solid #f4f4f4;

        margin: 0

    }


    .box .nav-stacked > li:last-of-type {

        border-bottom: none

    }


    .box.height-control .box-body {

        max-height: 300px;

        overflow: auto

    }


    .box .border-right {

        border-right: 1px solid #f4f4f4

    }


    .box .border-left {

        border-left: 1px solid #f4f4f4

    }


    .box.box-solid {

        border-top: 0px

    }


    .box.box-solid > .box-header .btn.btn-default {

        background: transparent

    }


    .box.box-solid > .box-header .btn:hover,
    .box.box-solid > .box-header a:hover {

        background: rgba(0, 0, 0, 0.1) !important

    }


    .box.box-solid.box-default {

        border: 1px solid #d2d6de

    }


    .box.box-solid.box-default > .box-header {

        color: #444;

        background: #d2d6de;

        background-color: #d2d6de

    }


    .box.box-solid.box-default > .box-header a,
    .box.box-solid.box-default > .box-header .btn {

        color: #444

    }


    .box.box-solid.box-primary {

        border: 1px solid #3c8dbc

    }


    .box.box-solid.box-primary > .box-header {

        color: #fff;

        background: #3c8dbc;

        background-color: #3c8dbc

    }


    .box.box-solid.box-primary > .box-header a,
    .box.box-solid.box-primary > .box-header .btn {

        color: #fff

    }


    .box.box-solid.box-info {

        border: 1px solid #00c0ef

    }


    .box.box-solid.box-info > .box-header {

        color: #fff;

        background: #00c0ef;

        background-color: #00c0ef

    }


    .box.box-solid.box-info > .box-header a,
    .box.box-solid.box-info > .box-header .btn {

        color: #fff

    }


    .box.box-solid.box-danger {

        border: 1px solid #dd4b39

    }


    .box.box-solid.box-danger > .box-header {

        color: #fff;

        background: #dd4b39;

        background-color: #dd4b39

    }


    .box.box-solid.box-danger > .box-header a,
    .box.box-solid.box-danger > .box-header .btn {

        color: #fff

    }


    .box.box-solid.box-warning {

        border: 1px solid #f39c12

    }


    .box.box-solid.box-warning > .box-header {

        color: #fff;

        background: #f39c12;

        background-color: #f39c12

    }


    .box.box-solid.box-warning > .box-header a,
    .box.box-solid.box-warning > .box-header .btn {

        color: #fff

    }


    .box.box-solid.box-success {

        border: 1px solid #00a65a

    }


    .box.box-solid.box-success > .box-header {

        color: #fff;

        background: #00a65a;

        background-color: #00a65a

    }


    .box.box-solid.box-success > .box-header a,
    .box.box-solid.box-success > .box-header .btn {

        color: #fff

    }


    .box.box-solid > .box-header > .box-tools .btn {

        border: 0;

        box-shadow: none

    }


    .box.box-solid[class*='bg'] > .box-header {

        color: #fff

    }


    .box .box-group > .box {

        margin-bottom: 5px

    }


    .box .knob-label {

        text-align: center;

        color: #333;

        font-weight: 100;

        font-size: 12px;

        margin-bottom: 0.3em

    }


    .box > .overlay,
    .box > .loading-img {

        position: absolute;

        top: 0;

        left: 0;

        width: 100%;

        height: 100%

    }


    .box .overlay {

        z-index: 1010;

        background: rgba(255, 255, 255, 0.7);

        border-radius: 3px

    }


    .box .overlay > .fa {

        position: absolute;

        top: 50%;

        left: 50%;

        margin-left: -15px;

        margin-top: -15px;

        color: #000;

        font-size: 30px

    }


    .box .overlay.dark {

        background: rgba(0, 0, 0, 0.5)

    }


    .box-header:before,
    .box-body:before,
    .box-footer:before,
    .box-header:after,
    .box-body:after,
    .box-footer:after {

        content: " ";

        display: table

    }


    .box-header:after,
    .box-body:after,
    .box-footer:after {

        clear: both

    }


    .box-header {

        color: #444;

        display: block;

        padding: 10px;

        position: relative

    }


    .box-header.with-border {

        border-bottom: 1px solid #f4f4f4

    }


    .collapsed-box .box-header.with-border {

        border-bottom: none

    }


    .box-header > .fa,
    .box-header > .glyphicon,
    .box-header > .ion,
    .box-header .box-title {

        display: inline-block;

        font-size: 18px;

        margin: 0;

        line-height: 1

    }


    .box-header > .fa,
    .box-header > .glyphicon,
    .box-header > .ion {

        margin-right: 5px

    }


    .box-header > .box-tools {

        position: absolute;

        right: 10px;

        top: 5px

    }


    .box-header > .box-tools [data-toggle="tooltip"] {

        position: relative

    }


    .box-header > .box-tools.pull-right .dropdown-menu {

        right: 0;

        left: auto

    }


    .btn-box-tool {

        padding: 5px;

        font-size: 12px;

        background: transparent;

        box-shadow: none !important;

        color: #97a0b3

    }


    .open .btn-box-tool,
    .btn-box-tool:hover {

        color: #606c84

    }


    .btn-box-tool:active {

        outline: none !important

    }


    .box-body {

        border-top-left-radius: 0;

        border-top-right-radius: 0;

        border-bottom-right-radius: 3px;

        border-bottom-left-radius: 3px;

        padding: 10px

    }


    .no-header .box-body {

        border-top-right-radius: 3px;

        border-top-left-radius: 3px

    }


    .box-body > .table {

        margin-bottom: 0

    }


    .box-body .fc {

        margin-top: 5px

    }


    .box-body .full-width-chart {

        margin: -19px

    }


    .box-body.no-padding .full-width-chart {

        margin: -9px

    }


    .box-body .box-pane {

        border-top-left-radius: 0;

        border-top-right-radius: 0;

        border-bottom-right-radius: 0;

        border-bottom-left-radius: 3px

    }


    .box-body .box-pane-right {

        border-top-left-radius: 0;

        border-top-right-radius: 0;

        border-bottom-right-radius: 3px;

        border-bottom-left-radius: 0

    }


    .box-footer {

        border-top-left-radius: 0;

        border-top-right-radius: 0;

        border-bottom-right-radius: 3px;

        border-bottom-left-radius: 3px;

        border-top: 1px solid #f4f4f4;

        padding: 10px;

        background-color: #fff

    }


    .chart-legend {

        margin: 10px 0

    }


    @media (max-width: 991px) {

        .chart-legend > li {

            float: left;

            margin-right: 10px

        }

    }


    .box-input {

        max-width: 200px

    }


    .info-box {

        display: block;

        min-height: 90px;

        background: #fff;

        width: 100%;

        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

        border-radius: 2px;

        margin-bottom: 15px

    }


    .info-box small {

        font-size: 14px

    }


    .info-box .progress {

        background: rgba(0, 0, 0, 0.2);

        margin: 5px -10px 5px -10px;

        height: 2px

    }


    .info-box .progress,
    .info-box .progress .progress-bar {

        border-radius: 0

    }


    .info-box .progress .progress-bar {

        background: #fff

    }


    .info-box-icon {

        border-top-left-radius: 2px;

        border-top-right-radius: 0;

        border-bottom-right-radius: 0;

        border-bottom-left-radius: 2px;

        display: block;

        float: left;

        height: 90px;

        width: 90px;

        text-align: center;

        font-size: 45px;

        line-height: 90px;

        background: rgba(0, 0, 0, 0.2)

    }


    .info-box-content {

        padding: 5px 10px;

        margin-left: 90px

    }


    .info-box-number {

        display: block;

        font-weight: bold;

        font-size: 18px

    }


    .progress-description,
    .info-box-text {

        display: block;

        font-size: 14px;

        white-space: nowrap;

        overflow: hidden;

        text-overflow: ellipsis

    }


    .info-box-text {

        text-transform: uppercase

    }


    .info-box-more {

        display: block

    }


    .direct-chat .box-body {

        border-bottom-right-radius: 0;

        border-bottom-left-radius: 0;

        position: relative;

        overflow-x: hidden;

        padding: 0

    }


    .direct-chat.chat-pane-open .direct-chat-contacts {

        -webkit-transform: translate(0, 0);

        -ms-transform: translate(0, 0);

        -o-transform: translate(0, 0);

        transform: translate(0, 0)

    }


    .direct-chat-messages {

        -webkit-transform: translate(0, 0);

        -ms-transform: translate(0, 0);

        -o-transform: translate(0, 0);

        transform: translate(0, 0);

        padding: 10px;

        height: 250px;

        overflow: auto

    }


    .direct-chat-msg,
    .direct-chat-text {

        display: block

    }


    .direct-chat-msg {

        margin-bottom: 10px

    }


    .direct-chat-msg:before,
    .direct-chat-msg:after {

        content: " ";

        display: table

    }


    .direct-chat-msg:after {

        clear: both

    }


    .direct-chat-messages,
    .direct-chat-contacts {

        -webkit-transition: -webkit-transform .5s ease-in-out;

        -moz-transition: -moz-transform .5s ease-in-out;

        -o-transition: -o-transform .5s ease-in-out;

        transition: transform .5s ease-in-out

    }


    .direct-chat-text {

        border-radius: 5px;

        position: relative;

        padding: 5px 10px;

        background: #d2d6de;

        border: 1px solid #d2d6de;

        margin: 5px 0 0 50px;

        color: #444

    }


    .direct-chat-text:after,
    .direct-chat-text:before {

        position: absolute;

        right: 100%;

        top: 15px;

        border: solid transparent;

        border-right-color: #d2d6de;

        content: ' ';

        height: 0;

        width: 0;

        pointer-events: none

    }


    .direct-chat-text:after {

        border-width: 5px;

        margin-top: -5px

    }


    .direct-chat-text:before {

        border-width: 6px;

        margin-top: -6px

    }


    .right .direct-chat-text {

        margin-right: 50px;

        margin-left: 0

    }


    .right .direct-chat-text:after,
    .right .direct-chat-text:before {

        right: auto;

        left: 100%;

        border-right-color: transparent;

        border-left-color: #d2d6de

    }


    .direct-chat-img {

        border-radius: 50%;

        float: left;

        width: 40px;

        height: 40px

    }


    .right .direct-chat-img {

        float: right

    }


    .direct-chat-info {

        display: block;

        margin-bottom: 2px;

        font-size: 12px

    }


    .direct-chat-name {

        font-weight: 600

    }


    .direct-chat-timestamp {

        color: #999

    }


    .direct-chat-contacts-open .direct-chat-contacts {

        -webkit-transform: translate(0, 0);

        -ms-transform: translate(0, 0);

        -o-transform: translate(0, 0);

        transform: translate(0, 0)

    }


    .direct-chat-contacts {

        -webkit-transform: translate(100%, 0);

        -ms-transform: translate(100%, 0);

        -o-transform: translate(100%, 0);

        transform: translate(100%, 0);

        position: absolute;

        top: 0;

        bottom: 0;

        height: 250px;

        width: 100%;

        background: #222d32;

        color: #fff;

        overflow: auto

    }


    .contacts-list > li {

        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        padding: 10px;

        margin: 0

    }


    .contacts-list > li:before,
    .contacts-list > li:after {

        content: " ";

        display: table

    }


    .contacts-list > li:after {

        clear: both

    }


    .contacts-list > li:last-of-type {

        border-bottom: none

    }


    .contacts-list-img {

        border-radius: 50%;

        width: 40px;

        float: left

    }


    .contacts-list-info {

        margin-left: 45px;

        color: #fff

    }


    .contacts-list-name,
    .contacts-list-status {

        display: block

    }


    .contacts-list-name {

        font-weight: 600

    }


    .contacts-list-status {

        font-size: 12px

    }


    .contacts-list-date {

        color: #aaa;

        font-weight: normal

    }


    .contacts-list-msg {

        color: #999

    }


    .direct-chat-danger .right > .direct-chat-text {

        background: #dd4b39;

        border-color: #dd4b39;

        color: #fff

    }


    .direct-chat-danger .right > .direct-chat-text:after,
    .direct-chat-danger .right > .direct-chat-text:before {

        border-left-color: #dd4b39

    }


    .direct-chat-primary .right > .direct-chat-text {

        background: #3c8dbc;

        border-color: #3c8dbc;

        color: #fff

    }


    .direct-chat-primary .right > .direct-chat-text:after,
    .direct-chat-primary .right > .direct-chat-text:before {

        border-left-color: #3c8dbc

    }


    .direct-chat-warning .right > .direct-chat-text {

        background: #f39c12;

        border-color: #f39c12;

        color: #fff

    }


    .direct-chat-warning .right > .direct-chat-text:after,
    .direct-chat-warning .right > .direct-chat-text:before {

        border-left-color: #f39c12

    }


    .direct-chat-info .right > .direct-chat-text {

        background: #00c0ef;

        border-color: #00c0ef;

        color: #fff

    }


    .direct-chat-info .right > .direct-chat-text:after,
    .direct-chat-info .right > .direct-chat-text:before {

        border-left-color: #00c0ef

    }


    .direct-chat-success .right > .direct-chat-text {

        background: #00a65a;

        border-color: #00a65a;

        color: #fff

    }


    .direct-chat-success .right > .direct-chat-text:after,
    .direct-chat-success .right > .direct-chat-text:before {

        border-left-color: #00a65a

    }


    .users-list > li {

        width: 25%;

        float: left;

        padding: 10px;

        text-align: center

    }


    .users-list > li > img {

        border-radius: 50%;

        max-width: 100%;

        height: auto

    }


    .users-list-name,
    .users-list-date {

        display: block

    }


    .users-list-name {

        font-weight: 600;

        color: #444;

        overflow: hidden;

        white-space: nowrap;

        text-overflow: ellipsis

    }


    .users-list-name:hover {

        color: #999

    }


    .users-list-date {

        color: #999;

        font-size: 12px

    }


    .carousel-control {

        background-image: none !important

    }


    .carousel-control > .fa {

        font-size: 40px;

        position: absolute;

        top: 50%;

        z-index: 5;

        display: inline-block;

        margin-top: -20px

    }


    .modal {

        background: rgba(0, 0, 0, 0.3)

    }


    .modal-content {

        border-radius: 0;

        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125) !important;

        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125) !important;

        border: 0

    }


    @media (min-width: 768px) {

        .modal-content {

            -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125) !important;

            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125) !important

        }

    }


    .modal-header {

        border-bottom-color: #f4f4f4

    }


    .modal-footer {

        border-top-color: #f4f4f4

    }


    .modal-primary .modal-header,
    .modal-primary .modal-footer {

        border-color: #307095

    }


    .modal-warning .modal-header,
    .modal-warning .modal-footer {

        border-color: #c87f0a

    }


    .modal-info .modal-header,
    .modal-info .modal-footer {

        border-color: #0097bc

    }


    .modal-success .modal-header,
    .modal-success .modal-footer {

        border-color: #00733e

    }


    .modal-danger .modal-header,
    .modal-danger .modal-footer {

        border-color: #c23321

    }


    .mailbox-messages > .table {

        margin: 0

    }


    .mailbox-controls {

        padding: 5px

    }


    .mailbox-controls.with-border {

        border-bottom: 1px solid #f4f4f4

    }


    .mailbox-read-info {

        border-bottom: 1px solid #f4f4f4;

        padding: 10px

    }


    .mailbox-read-info h3 {

        font-size: 20px;

        margin: 0

    }


    .mailbox-read-info h5 {

        margin: 0;

        padding: 5px 0 0 0

    }


    .mailbox-read-time {

        color: #999;

        font-size: 13px

    }


    .mailbox-read-message {

        padding: 10px

    }


    .mailbox-attachments li {

        float: left;

        width: 200px;

        border: 1px solid #eee;

        margin-bottom: 10px;

        margin-right: 10px

    }


    .mailbox-attachment-name {

        font-weight: bold;

        color: #666

    }


    .mailbox-attachment-icon,
    .mailbox-attachment-info,
    .mailbox-attachment-size {

        display: block

    }


    .mailbox-attachment-info {

        padding: 10px;

        background: #f4f4f4

    }


    .mailbox-attachment-size {

        color: #999;

        font-size: 12px

    }


    .mailbox-attachment-icon {

        text-align: center;

        font-size: 65px;

        color: #666;

        padding: 20px 10px

    }


    .mailbox-attachment-icon.has-img {

        padding: 0

    }


    .mailbox-attachment-icon.has-img > img {

        max-width: 100%;

        height: auto

    }


    .lockscreen {

        background: #d2d6de

    }


    .lockscreen-logo {

        font-size: 35px;

        text-align: center;

        margin-bottom: 25px;

        font-weight: 300

    }


    .lockscreen-logo a {

        color: #444

    }


    .lockscreen-wrapper {

        max-width: 400px;

        margin: 0 auto;

        margin-top: 10%

    }


    .lockscreen .lockscreen-name {

        text-align: center;

        font-weight: 600

    }


    .lockscreen-item {

        border-radius: 4px;

        padding: 0;

        background: #fff;

        position: relative;

        margin: 10px auto 30px auto;

        width: 290px

    }


    .lockscreen-image {

        border-radius: 50%;

        position: absolute;

        left: -10px;

        top: -25px;

        background: #fff;

        padding: 5px;

        z-index: 10

    }


    .lockscreen-image > img {

        border-radius: 50%;

        width: 70px;

        height: 70px

    }


    .lockscreen-credentials {

        margin-left: 70px

    }


    .lockscreen-credentials .form-control {

        border: 0 !important

    }


    .lockscreen-credentials .btn {

        background-color: #fff;

        border: 0;

        padding: 0 10px

    }


    .lockscreen-footer {

        margin-top: 10px

    }


    .login-logo,
    .register-logo {

        font-size: 35px;

        text-align: center;

        margin-bottom: 25px;

        font-weight: 300

    }


    .login-logo a,
    .register-logo a {

        color: #444

    }


    .login-page,
    .register-page {

        background: #d2d6de

    }


    .login-box,
    .register-box {

        width: 360px;

        margin: 7% auto

    }


    @media (max-width: 768px) {

        .login-box,
        .register-box {

            width: 90%;

            margin-top: 20px

        }

    }


    .login-box-body,
    .register-box-body {

        background: #fff;

        padding: 20px;

        color: #444;

        border-top: 0;

        color: #666

    }


    .login-box-body .form-control-feedback,
    .register-box-body .form-control-feedback {

        color: #777

    }


    .login-box-msg,
    .register-box-msg {

        margin: 0;

        text-align: center;

        padding: 0 20px 20px 20px

    }


    .social-auth-links {

        margin: 10px 0

    }


    .error-page {

        width: 600px;

        margin: 20px auto 0 auto

    }


    @media (max-width: 991px) {

        .error-page {

            width: 100%

        }

    }


    .error-page > .headline {

        float: left;

        font-size: 100px;

        font-weight: 300

    }


    @media (max-width: 991px) {

        .error-page > .headline {

            float: none;

            text-align: center

        }

    }


    .error-page > .error-content {

        margin-left: 190px;

        display: block

    }


    @media (max-width: 991px) {

        .error-page > .error-content {

            margin-left: 0

        }

    }


    .error-page > .error-content > h3 {

        font-weight: 300;

        font-size: 25px

    }


    @media (max-width: 991px) {

        .error-page > .error-content > h3 {

            text-align: center

        }

    }


    .invoice {

        position: relative;

        background: #fff;

        border: 1px solid #f4f4f4;

        padding: 20px;

        margin: 10px 25px

    }


    .invoice-title {

        margin-top: 0

    }


    .btn-social {

        position: relative;

        padding-left: 44px !important;

        text-align: left;

        white-space: nowrap;

        overflow: hidden;

        text-overflow: ellipsis

    }


    .btn-social:first-child {

        position: absolute;

        left: 0;

        top: 0;

        bottom: 0;

        width: 32px !important;

        line-height: 34px !important;

        font-size: 1.6em !important;

        text-align: center;

        border-right: 1px solid rgba(0, 0, 0, 0.2)

    }


    .btn-social.btn-lg {

        padding-left: 61px !important

    }


    .btn-social.btn-lg:first-child {

        line-height: 45px;

        width: 45px;

        font-size: 1.8em

    }


    .btn-social.btn-sm {

        padding-left: 38px !important

    }


    .btn-social.btn-sm:first-child {

        line-height: 28px;

        width: 28px;

        font-size: 1.4em

    }


    .btn-social.btn-xs {

        padding-left: 30px !important

    }


    .btn-social.btn-xs:first-child {

        line-height: 20px;

        width: 20px;

        font-size: 1.2em

    }


    .btn-social-icon {

        position: relative;

        padding-left: 44px !important;

        text-align: left;

        white-space: nowrap;

        overflow: hidden;

        text-overflow: ellipsis;

        height: 34px;

        width: 34px;

        padding: 0

    }


    .btn-social-icon:first-child {

        position: absolute;

        left: 0;

        top: 0;

        bottom: 0;

        width: 32px !important;

        line-height: 34px !important;

        font-size: 1.6em !important;

        text-align: center;

        border-right: 1px solid rgba(0, 0, 0, 0.2)

    }


    .btn-social-icon.btn-lg {

        padding-left: 61px !important

    }


    .btn-social-icon.btn-lg:first-child {

        line-height: 45px;

        width: 45px;

        font-size: 1.8em

    }


    .btn-social-icon.btn-sm {

        padding-left: 38px !important

    }


    .btn-social-icon.btn-sm:first-child {

        line-height: 28px;

        width: 28px;

        font-size: 1.4em

    }


    .btn-social-icon.btn-xs {

        padding-left: 30px !important

    }


    .btn-social-icon.btn-xs:first-child {

        line-height: 20px;

        width: 20px;

        font-size: 1.2em

    }


    .btn-social-icon:first-child {

        border: none;

        text-align: center;

        width: 100% !important

    }


    .btn-social-icon.btn-lg {

        height: 45px;

        width: 45px;

        padding-left: 0;

        padding-right: 0

    }


    .btn-social-icon.btn-sm {

        height: 30px;

        width: 30px;

        padding-left: 0;

        padding-right: 0

    }


    .btn-social-icon.btn-xs {

        height: 22px;

        width: 22px;

        padding-left: 0;

        padding-right: 0

    }


    .btn-bitbucket {

        color: #fff;

        background-color: #205081;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-bitbucket:hover,
    .btn-bitbucket:focus,
    .btn-bitbucket.focus,
    .btn-bitbucket:active,
    .btn-bitbucket.active,
    .open > .dropdown-toggle.btn-bitbucket {

        color: #fff;

        background-color: #163758;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-bitbucket:active,
    .btn-bitbucket.active,
    .open > .dropdown-toggle.btn-bitbucket {

        background-image: none

    }


    .btn-bitbucket.disabled,
    .btn-bitbucket[disabled],
    fieldset[disabled] .btn-bitbucket,
    .btn-bitbucket.disabled:hover,
    .btn-bitbucket[disabled]:hover,
    fieldset[disabled] .btn-bitbucket:hover,
    .btn-bitbucket.disabled:focus,
    .btn-bitbucket[disabled]:focus,
    fieldset[disabled] .btn-bitbucket:focus,
    .btn-bitbucket.disabled.focus,
    .btn-bitbucket[disabled].focus,
    fieldset[disabled] .btn-bitbucket.focus,
    .btn-bitbucket.disabled:active,
    .btn-bitbucket[disabled]:active,
    fieldset[disabled] .btn-bitbucket:active,
    .btn-bitbucket.disabled.active,
    .btn-bitbucket[disabled].active,
    fieldset[disabled] .btn-bitbucket.active {

        background-color: #205081;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-bitbucket .badge {

        color: #205081;

        background-color: #fff

    }


    .btn-dropbox {

        color: #fff;

        background-color: #1087dd;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-dropbox:hover,
    .btn-dropbox:focus,
    .btn-dropbox.focus,
    .btn-dropbox:active,
    .btn-dropbox.active,
    .open > .dropdown-toggle.btn-dropbox {

        color: #fff;

        background-color: #0d6aad;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-dropbox:active,
    .btn-dropbox.active,
    .open > .dropdown-toggle.btn-dropbox {

        background-image: none

    }


    .btn-dropbox.disabled,
    .btn-dropbox[disabled],
    fieldset[disabled] .btn-dropbox,
    .btn-dropbox.disabled:hover,
    .btn-dropbox[disabled]:hover,
    fieldset[disabled] .btn-dropbox:hover,
    .btn-dropbox.disabled:focus,
    .btn-dropbox[disabled]:focus,
    fieldset[disabled] .btn-dropbox:focus,
    .btn-dropbox.disabled.focus,
    .btn-dropbox[disabled].focus,
    fieldset[disabled] .btn-dropbox.focus,
    .btn-dropbox.disabled:active,
    .btn-dropbox[disabled]:active,
    fieldset[disabled] .btn-dropbox:active,
    .btn-dropbox.disabled.active,
    .btn-dropbox[disabled].active,
    fieldset[disabled] .btn-dropbox.active {

        background-color: #1087dd;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-dropbox .badge {

        color: #1087dd;

        background-color: #fff

    }


    .btn-facebook {

        color: #fff;

        background-color: #3b5998;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-facebook:hover,
    .btn-facebook:focus,
    .btn-facebook.focus,
    .btn-facebook:active,
    .btn-facebook.active,
    .open > .dropdown-toggle.btn-facebook {

        color: #fff;

        background-color: #2d4373;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-facebook:active,
    .btn-facebook.active,
    .open > .dropdown-toggle.btn-facebook {

        background-image: none

    }


    .btn-facebook.disabled,
    .btn-facebook[disabled],
    fieldset[disabled] .btn-facebook,
    .btn-facebook.disabled:hover,
    .btn-facebook[disabled]:hover,
    fieldset[disabled] .btn-facebook:hover,
    .btn-facebook.disabled:focus,
    .btn-facebook[disabled]:focus,
    fieldset[disabled] .btn-facebook:focus,
    .btn-facebook.disabled.focus,
    .btn-facebook[disabled].focus,
    fieldset[disabled] .btn-facebook.focus,
    .btn-facebook.disabled:active,
    .btn-facebook[disabled]:active,
    fieldset[disabled] .btn-facebook:active,
    .btn-facebook.disabled.active,
    .btn-facebook[disabled].active,
    fieldset[disabled] .btn-facebook.active {

        background-color: #3b5998;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-facebook .badge {

        color: #3b5998;

        background-color: #fff

    }


    .btn-flickr {

        color: #fff;

        background-color: #ff0084;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-flickr:hover,
    .btn-flickr:focus,
    .btn-flickr.focus,
    .btn-flickr:active,
    .btn-flickr.active,
    .open > .dropdown-toggle.btn-flickr {

        color: #fff;

        background-color: #cc006a;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-flickr:active,
    .btn-flickr.active,
    .open > .dropdown-toggle.btn-flickr {

        background-image: none

    }


    .btn-flickr.disabled,
    .btn-flickr[disabled],
    fieldset[disabled] .btn-flickr,
    .btn-flickr.disabled:hover,
    .btn-flickr[disabled]:hover,
    fieldset[disabled] .btn-flickr:hover,
    .btn-flickr.disabled:focus,
    .btn-flickr[disabled]:focus,
    fieldset[disabled] .btn-flickr:focus,
    .btn-flickr.disabled.focus,
    .btn-flickr[disabled].focus,
    fieldset[disabled] .btn-flickr.focus,
    .btn-flickr.disabled:active,
    .btn-flickr[disabled]:active,
    fieldset[disabled] .btn-flickr:active,
    .btn-flickr.disabled.active,
    .btn-flickr[disabled].active,
    fieldset[disabled] .btn-flickr.active {

        background-color: #ff0084;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-flickr .badge {

        color: #ff0084;

        background-color: #fff

    }


    .btn-foursquare {

        color: #fff;

        background-color: #0072b1;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-foursquare:hover,
    .btn-foursquare:focus,
    .btn-foursquare.focus,
    .btn-foursquare:active,
    .btn-foursquare.active,
    .open > .dropdown-toggle.btn-foursquare {

        color: #fff;

        background-color: #00517e;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-foursquare:active,
    .btn-foursquare.active,
    .open > .dropdown-toggle.btn-foursquare {

        background-image: none

    }


    .btn-foursquare.disabled,
    .btn-foursquare[disabled],
    fieldset[disabled] .btn-foursquare,
    .btn-foursquare.disabled:hover,
    .btn-foursquare[disabled]:hover,
    fieldset[disabled] .btn-foursquare:hover,
    .btn-foursquare.disabled:focus,
    .btn-foursquare[disabled]:focus,
    fieldset[disabled] .btn-foursquare:focus,
    .btn-foursquare.disabled.focus,
    .btn-foursquare[disabled].focus,
    fieldset[disabled] .btn-foursquare.focus,
    .btn-foursquare.disabled:active,
    .btn-foursquare[disabled]:active,
    fieldset[disabled] .btn-foursquare:active,
    .btn-foursquare.disabled.active,
    .btn-foursquare[disabled].active,
    fieldset[disabled] .btn-foursquare.active {

        background-color: #0072b1;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-foursquare .badge {

        color: #0072b1;

        background-color: #fff

    }


    .btn-github {

        color: #fff;

        background-color: #444;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-github:hover,
    .btn-github:focus,
    .btn-github.focus,
    .btn-github:active,
    .btn-github.active,
    .open > .dropdown-toggle.btn-github {

        color: #fff;

        background-color: #2b2b2b;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-github:active,
    .btn-github.active,
    .open > .dropdown-toggle.btn-github {

        background-image: none

    }


    .btn-github.disabled,
    .btn-github[disabled],
    fieldset[disabled] .btn-github,
    .btn-github.disabled:hover,
    .btn-github[disabled]:hover,
    fieldset[disabled] .btn-github:hover,
    .btn-github.disabled:focus,
    .btn-github[disabled]:focus,
    fieldset[disabled] .btn-github:focus,
    .btn-github.disabled.focus,
    .btn-github[disabled].focus,
    fieldset[disabled] .btn-github.focus,
    .btn-github.disabled:active,
    .btn-github[disabled]:active,
    fieldset[disabled] .btn-github:active,
    .btn-github.disabled.active,
    .btn-github[disabled].active,
    fieldset[disabled] .btn-github.active {

        background-color: #444;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-github .badge {

        color: #444;

        background-color: #fff

    }


    .btn-google-plus {

        color: #fff;

        background-color: #dd4b39;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-google-plus:hover,
    .btn-google-plus:focus,
    .btn-google-plus.focus,
    .btn-google-plus:active,
    .btn-google-plus.active,
    .open > .dropdown-toggle.btn-google-plus {

        color: #fff;

        background-color: #c23321;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-google-plus:active,
    .btn-google-plus.active,
    .open > .dropdown-toggle.btn-google-plus {

        background-image: none

    }


    .btn-google-plus.disabled,
    .btn-google-plus[disabled],
    fieldset[disabled] .btn-google-plus,
    .btn-google-plus.disabled:hover,
    .btn-google-plus[disabled]:hover,
    fieldset[disabled] .btn-google-plus:hover,
    .btn-google-plus.disabled:focus,
    .btn-google-plus[disabled]:focus,
    fieldset[disabled] .btn-google-plus:focus,
    .btn-google-plus.disabled.focus,
    .btn-google-plus[disabled].focus,
    fieldset[disabled] .btn-google-plus.focus,
    .btn-google-plus.disabled:active,
    .btn-google-plus[disabled]:active,
    fieldset[disabled] .btn-google-plus:active,
    .btn-google-plus.disabled.active,
    .btn-google-plus[disabled].active,
    fieldset[disabled] .btn-google-plus.active {

        background-color: #dd4b39;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-google-plus .badge {

        color: #dd4b39;

        background-color: #fff

    }


    .btn-instagram {

        color: #fff;

        background-color: #3f729b;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-instagram:hover,
    .btn-instagram:focus,
    .btn-instagram.focus,
    .btn-instagram:active,
    .btn-instagram.active,
    .open > .dropdown-toggle.btn-instagram {

        color: #fff;

        background-color: #305777;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-instagram:active,
    .btn-instagram.active,
    .open > .dropdown-toggle.btn-instagram {

        background-image: none

    }


    .btn-instagram.disabled,
    .btn-instagram[disabled],
    fieldset[disabled] .btn-instagram,
    .btn-instagram.disabled:hover,
    .btn-instagram[disabled]:hover,
    fieldset[disabled] .btn-instagram:hover,
    .btn-instagram.disabled:focus,
    .btn-instagram[disabled]:focus,
    fieldset[disabled] .btn-instagram:focus,
    .btn-instagram.disabled.focus,
    .btn-instagram[disabled].focus,
    fieldset[disabled] .btn-instagram.focus,
    .btn-instagram.disabled:active,
    .btn-instagram[disabled]:active,
    fieldset[disabled] .btn-instagram:active,
    .btn-instagram.disabled.active,
    .btn-instagram[disabled].active,
    fieldset[disabled] .btn-instagram.active {

        background-color: #3f729b;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-instagram .badge {

        color: #3f729b;

        background-color: #fff

    }


    .btn-linkedin {

        color: #fff;

        background-color: #007bb6;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-linkedin:hover,
    .btn-linkedin:focus,
    .btn-linkedin.focus,
    .btn-linkedin:active,
    .btn-linkedin.active,
    .open > .dropdown-toggle.btn-linkedin {

        color: #fff;

        background-color: #005983;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-linkedin:active,
    .btn-linkedin.active,
    .open > .dropdown-toggle.btn-linkedin {

        background-image: none

    }


    .btn-linkedin.disabled,
    .btn-linkedin[disabled],
    fieldset[disabled] .btn-linkedin,
    .btn-linkedin.disabled:hover,
    .btn-linkedin[disabled]:hover,
    fieldset[disabled] .btn-linkedin:hover,
    .btn-linkedin.disabled:focus,
    .btn-linkedin[disabled]:focus,
    fieldset[disabled] .btn-linkedin:focus,
    .btn-linkedin.disabled.focus,
    .btn-linkedin[disabled].focus,
    fieldset[disabled] .btn-linkedin.focus,
    .btn-linkedin.disabled:active,
    .btn-linkedin[disabled]:active,
    fieldset[disabled] .btn-linkedin:active,
    .btn-linkedin.disabled.active,
    .btn-linkedin[disabled].active,
    fieldset[disabled] .btn-linkedin.active {

        background-color: #007bb6;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-linkedin .badge {

        color: #007bb6;

        background-color: #fff

    }


    .btn-tumblr {

        color: #fff;

        background-color: #2c4762;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-tumblr:hover,
    .btn-tumblr:focus,
    .btn-tumblr.focus,
    .btn-tumblr:active,
    .btn-tumblr.active,
    .open > .dropdown-toggle.btn-tumblr {

        color: #fff;

        background-color: #1c2d3f;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-tumblr:active,
    .btn-tumblr.active,
    .open > .dropdown-toggle.btn-tumblr {

        background-image: none

    }


    .btn-tumblr.disabled,
    .btn-tumblr[disabled],
    fieldset[disabled] .btn-tumblr,
    .btn-tumblr.disabled:hover,
    .btn-tumblr[disabled]:hover,
    fieldset[disabled] .btn-tumblr:hover,
    .btn-tumblr.disabled:focus,
    .btn-tumblr[disabled]:focus,
    fieldset[disabled] .btn-tumblr:focus,
    .btn-tumblr.disabled.focus,
    .btn-tumblr[disabled].focus,
    fieldset[disabled] .btn-tumblr.focus,
    .btn-tumblr.disabled:active,
    .btn-tumblr[disabled]:active,
    fieldset[disabled] .btn-tumblr:active,
    .btn-tumblr.disabled.active,
    .btn-tumblr[disabled].active,
    fieldset[disabled] .btn-tumblr.active {

        background-color: #2c4762;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-tumblr .badge {

        color: #2c4762;

        background-color: #fff

    }


    .btn-twitter {

        color: #fff;

        background-color: #55acee;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-twitter:hover,
    .btn-twitter:focus,
    .btn-twitter.focus,
    .btn-twitter:active,
    .btn-twitter.active,
    .open > .dropdown-toggle.btn-twitter {

        color: #fff;

        background-color: #2795e9;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-twitter:active,
    .btn-twitter.active,
    .open > .dropdown-toggle.btn-twitter {

        background-image: none

    }


    .btn-twitter.disabled,
    .btn-twitter[disabled],
    fieldset[disabled] .btn-twitter,
    .btn-twitter.disabled:hover,
    .btn-twitter[disabled]:hover,
    fieldset[disabled] .btn-twitter:hover,
    .btn-twitter.disabled:focus,
    .btn-twitter[disabled]:focus,
    fieldset[disabled] .btn-twitter:focus,
    .btn-twitter.disabled.focus,
    .btn-twitter[disabled].focus,
    fieldset[disabled] .btn-twitter.focus,
    .btn-twitter.disabled:active,
    .btn-twitter[disabled]:active,
    fieldset[disabled] .btn-twitter:active,
    .btn-twitter.disabled.active,
    .btn-twitter[disabled].active,
    fieldset[disabled] .btn-twitter.active {

        background-color: #55acee;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-twitter .badge {

        color: #55acee;

        background-color: #fff

    }


    .btn-vk {

        color: #fff;

        background-color: #587ea3;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-vk:hover,
    .btn-vk:focus,
    .btn-vk.focus,
    .btn-vk:active,
    .btn-vk.active,
    .open > .dropdown-toggle.btn-vk {

        color: #fff;

        background-color: #466482;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-vk:active,
    .btn-vk.active,
    .open > .dropdown-toggle.btn-vk {

        background-image: none

    }


    .btn-vk.disabled,
    .btn-vk[disabled],
    fieldset[disabled] .btn-vk,
    .btn-vk.disabled:hover,
    .btn-vk[disabled]:hover,
    fieldset[disabled] .btn-vk:hover,
    .btn-vk.disabled:focus,
    .btn-vk[disabled]:focus,
    fieldset[disabled] .btn-vk:focus,
    .btn-vk.disabled.focus,
    .btn-vk[disabled].focus,
    fieldset[disabled] .btn-vk.focus,
    .btn-vk.disabled:active,
    .btn-vk[disabled]:active,
    fieldset[disabled] .btn-vk:active,
    .btn-vk.disabled.active,
    .btn-vk[disabled].active,
    fieldset[disabled] .btn-vk.active {

        background-color: #587ea3;

        border-color: rgba(0, 0, 0, 0.2)

    }


    .btn-vk .badge {

        color: #587ea3;

        background-color: #fff

    }


    .fc-button {

        background: #f4f4f4;

        background-image: none;

        color: #444;

        border-color: #ddd;

        border-bottom-color: #ddd

    }


    .fc-button:hover,
    .fc-button:active,
    .fc-button.hover {

        background-color: #e9e9e9

    }


    .fc-header-title h2 {

        font-size: 15px;

        line-height: 1.6em;

        color: #666;

        margin-left: 10px

    }


    .fc-header-right {

        padding-right: 10px

    }


    .fc-header-left {

        padding-left: 10px

    }


    .fc-widget-header {

        background: #fafafa

    }


    .fc-grid {

        width: 100%;

        border: 0

    }


    .fc-widget-header:first-of-type,
    .fc-widget-content:first-of-type {

        border-left: 0;

        border-right: 0

    }


    .fc-widget-header:last-of-type,
    .fc-widget-content:last-of-type {

        border-right: 0

    }


    .fc-toolbar {

        padding: 10px;

        margin: 0

    }


    .fc-day-number {

        font-size: 20px;

        font-weight: 300;

        padding-right: 10px

    }


    .fc-color-picker {

        list-style: none;

        margin: 0;

        padding: 0

    }


    .fc-color-picker > li {

        float: left;

        font-size: 30px;

        margin-right: 5px;

        line-height: 30px

    }


    .fc-color-picker > li .fa {

        -webkit-transition: -webkit-transform linear .3s;

        -moz-transition: -moz-transform linear .3s;

        -o-transition: -o-transform linear .3s;

        transition: transform linear .3s

    }


    .fc-color-picker > li .fa:hover {

        -webkit-transform: rotate(30deg);

        -ms-transform: rotate(30deg);

        -o-transform: rotate(30deg);

        transform: rotate(30deg)

    }


    #add-new-event {

        -webkit-transition: all linear .3s;

        -o-transition: all linear .3s;

        transition: all linear .3s

    }


    .external-event {

        padding: 5px 10px;

        font-weight: bold;

        margin-bottom: 4px;

        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

        border-radius: 3px;

        cursor: move

    }


    .external-event:hover {

        box-shadow: inset 0 0 90px rgba(0, 0, 0, 0.2)

    }


    .pad {

        padding: 10px

    }


    .margin {

        margin: 10px

    }


    .margin-bottom {

        margin-bottom: 20px

    }


    .inline {

        display: inline;

        width: auto

    }


    .description-block {

        display: block;

        margin: 10px 0;

        text-align: center

    }


    .description-block.margin-bottom {

        margin-bottom: 25px

    }


    .description-block > .description-header {

        margin: 0;

        padding: 0;

        font-weight: 600;

        font-size: 16px

    }


    .description-block > .description-text {

        text-transform: uppercase

    }


    .bg-red,
    .bg-yellow,
    .bg-aqua,
    .bg-blue,
    .bg-light-blue,
    .bg-green,
    .bg-navy,
    .bg-teal,
    .bg-olive,
    .bg-lime,
    .bg-orange,
    .bg-fuchsia,
    .bg-purple,
    .bg-maroon,
    .bg-black,
    .bg-red-active,
    .bg-yellow-active,
    .bg-aqua-active,
    .bg-blue-active,
    .bg-light-blue-active,
    .bg-green-active,
    .bg-navy-active,
    .bg-teal-active,
    .bg-olive-active,
    .bg-lime-active,
    .bg-orange-active,
    .bg-fuchsia-active,
    .bg-purple-active,
    .bg-maroon-active,
    .bg-black-active,
    .callout.callout-danger,
    .callout.callout-warning,
    .callout.callout-info,
    .callout.callout-success,
    .alert-success,
    .alert-danger,
    .alert-error,
    .alert-warning,
    .alert-info,
    .label-danger,
    .label-info,
    .label-waring,
    .label-primary,
    .label-success,
    .modal-primary .modal-body,
    .modal-primary .modal-header,
    .modal-primary .modal-footer,
    .modal-warning .modal-body,
    .modal-warning .modal-header,
    .modal-warning .modal-footer,
    .modal-info .modal-body,
    .modal-info .modal-header,
    .modal-info .modal-footer,
    .modal-success .modal-body,
    .modal-success .modal-header,
    .modal-success .modal-footer,
    .modal-danger .modal-body,
    .modal-danger .modal-header,
    .modal-danger .modal-footer {

        color: #fff !important

    }


    .bg-gray {

        color: #000;

        background-color: #d2d6de !important

    }


    .bg-black {

        background-color: #111 !important

    }


    .bg-red,
    .callout.callout-danger,
    .alert-danger,
    .alert-error,
    .label-danger,
    .modal-danger .modal-body {

        background-color: #dd4b39 !important

    }


    .bg-yellow,
    .callout.callout-warning,
    .alert-warning,
    .label-waring,
    .modal-warning .modal-body {

        background-color: #f39c12 !important

    }


    .bg-aqua,
    .callout.callout-info,
    .alert-info,
    .label-info,
    .modal-info .modal-body {

        background-color: #00c0ef !important

    }


    .bg-blue {

        background-color: #0073b7 !important

    }


    .bg-light-blue,
    .label-primary,
    .modal-primary .modal-body {

        background-color: #3c8dbc !important

    }


    .bg-green,
    .callout.callout-success,
    .alert-success,
    .label-success,
    .modal-success .modal-body {

        background-color: #00a65a !important

    }


    .bg-navy {

        background-color: #001f3f !important

    }


    .bg-teal {

        background-color: #39cccc !important

    }


    .bg-olive {

        background-color: #3d9970 !important

    }


    .bg-lime {

        background-color: #01ff70 !important

    }


    .bg-orange {

        background-color: #ff851b !important

    }


    .bg-fuchsia {

        background-color: #f012be !important

    }


    .bg-purple {

        background-color: #605ca8 !important

    }


    .bg-maroon {

        background-color: #d81b60 !important

    }


    .bg-gray-active {

        color: #000;

        background-color: #b5bbc8 !important

    }


    .bg-black-active {

        background-color: #000 !important

    }


    .bg-red-active,
    .modal-danger .modal-header,
    .modal-danger .modal-footer {

        background-color: #d33724 !important

    }


    .bg-yellow-active,
    .modal-warning .modal-header,
    .modal-warning .modal-footer {

        background-color: #db8b0b !important

    }


    .bg-aqua-active,
    .modal-info .modal-header,
    .modal-info .modal-footer {

        background-color: #00a7d0 !important

    }


    .bg-blue-active {

        background-color: #005384 !important

    }


    .bg-light-blue-active,
    .modal-primary .modal-header,
    .modal-primary .modal-footer {

        background-color: #357ca5 !important

    }


    .bg-green-active,
    .modal-success .modal-header,
    .modal-success .modal-footer {

        background-color: #008d4c !important

    }


    .bg-navy-active {

        background-color: #001a35 !important

    }


    .bg-teal-active {

        background-color: #30bbbb !important

    }


    .bg-olive-active {

        background-color: #368763 !important

    }


    .bg-lime-active {

        background-color: #00e765 !important

    }


    .bg-orange-active {

        background-color: #ff7701 !important

    }


    .bg-fuchsia-active {

        background-color: #db0ead !important

    }


    .bg-purple-active {

        background-color: #555299 !important

    }


    .bg-maroon-active {

        background-color: #ca195a !important

    }


    [class^="bg-"].disabled {

        opacity: .65;

        filter: alpha(opacity=65)

    }


    .text-red {

        color: #dd4b39 !important

    }


    .text-yellow {

        color: #f39c12 !important

    }


    .text-aqua {

        color: #00c0ef !important

    }


    .text-blue {

        color: #0073b7 !important

    }


    .text-black {

        color: #111 !important

    }


    .text-light-blue {

        color: #3c8dbc !important

    }


    .text-green {

        color: #00a65a !important

    }


    .text-gray {

        color: #d2d6de !important

    }


    .text-navy {

        color: #001f3f !important

    }


    .text-teal {

        color: #39cccc !important

    }


    .text-olive {

        color: #3d9970 !important

    }


    .text-lime {

        color: #01ff70 !important

    }


    .text-orange {

        color: #ff851b !important

    }


    .text-fuchsia {

        color: #f012be !important

    }


    .text-purple {

        color: #605ca8 !important

    }


    .text-maroon {

        color: #d81b60 !important

    }


    .hide {

        display: none !important

    }


    .no-border {

        border: 0px !important

    }


    .no-padding {

        padding: 0px !important

    }


    .no-margin {

        margin: 0px !important

    }


    .no-shadow {

        box-shadow: none !important

    }


    .list-unstyled,
    .chart-legend,
    .contacts-list,
    .users-list,
    .mailbox-attachments {

        list-style: none;

        margin: 0;

        padding: 0

    }


    .flat {

        border-radius: 0 !important

    }


    .text-bold,
    .text-bold.table td,
    .text-bold.table th {

        font-weight: 700

    }


    .jqstooltip {

        padding: 5px !important;

        width: auto !important;

        height: auto !important

    }


    .bg-teal-gradient {

        background: #39cccc !important;

        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #39cccc), color-stop(1, #7adddd)) !important;

        background: -ms-linear-gradient(bottom, #39cccc, #7adddd) !important;

        background: -moz-linear-gradient(center bottom, #39cccc 0, #7adddd 100%) !important;

        background: -o-linear-gradient(#7adddd, #39cccc) !important;

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7adddd', endColorstr='#39cccc', GradientType=0) !important;

        color: #fff

    }


    .bg-light-blue-gradient {

        background: #3c8dbc !important;

        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3c8dbc), color-stop(1, #67a8ce)) !important;

        background: -ms-linear-gradient(bottom, #3c8dbc, #67a8ce) !important;

        background: -moz-linear-gradient(center bottom, #3c8dbc 0, #67a8ce 100%) !important;

        background: -o-linear-gradient(#67a8ce, #3c8dbc) !important;

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67a8ce', endColorstr='#3c8dbc', GradientType=0) !important;

        color: #fff

    }


    .bg-blue-gradient {

        background: #0073b7 !important;

        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0073b7), color-stop(1, #0089db)) !important;

        background: -ms-linear-gradient(bottom, #0073b7, #0089db) !important;

        background: -moz-linear-gradient(center bottom, #0073b7 0, #0089db 100%) !important;

        background: -o-linear-gradient(#0089db, #0073b7) !important;

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089db', endColorstr='#0073b7', GradientType=0) !important;

        color: #fff

    }


    .bg-aqua-gradient {

        background: #00c0ef !important;

        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00c0ef), color-stop(1, #14d1ff)) !important;

        background: -ms-linear-gradient(bottom, #00c0ef, #14d1ff) !important;

        background: -moz-linear-gradient(center bottom, #00c0ef 0, #14d1ff 100%) !important;

        background: -o-linear-gradient(#14d1ff, #00c0ef) !important;

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14d1ff', endColorstr='#00c0ef', GradientType=0) !important;

        color: #fff

    }


    .bg-yellow-gradient {

        background: #f39c12 !important;

        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f39c12), color-stop(1, #f7bc60)) !important;

        background: -ms-linear-gradient(bottom, #f39c12, #f7bc60) !important;

        background: -moz-linear-gradient(center bottom, #f39c12 0, #f7bc60 100%) !important;

        background: -o-linear-gradient(#f7bc60, #f39c12) !important;

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7bc60', endColorstr='#f39c12', GradientType=0) !important;

        color: #fff

    }


    .bg-purple-gradient {

        background: #605ca8 !important;

        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #605ca8), color-stop(1, #9491c4)) !important;

        background: -ms-linear-gradient(bottom, #605ca8, #9491c4) !important;

        background: -moz-linear-gradient(center bottom, #605ca8 0, #9491c4 100%) !important;

        background: -o-linear-gradient(#9491c4, #605ca8) !important;

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9491c4', endColorstr='#605ca8', GradientType=0) !important;

        color: #fff

    }


    .bg-green-gradient {

        background: #00a65a !important;

        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00a65a), color-stop(1, #00ca6d)) !important;

        background: -ms-linear-gradient(bottom, #00a65a, #00ca6d) !important;

        background: -moz-linear-gradient(center bottom, #00a65a 0, #00ca6d 100%) !important;

        background: -o-linear-gradient(#00ca6d, #00a65a) !important;

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ca6d', endColorstr='#00a65a', GradientType=0) !important;

        color: #fff

    }


    .bg-red-gradient {

        background: #dd4b39 !important;

        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dd4b39), color-stop(1, #e47365)) !important;

        background: -ms-linear-gradient(bottom, #dd4b39, #e47365) !important;

        background: -moz-linear-gradient(center bottom, #dd4b39 0, #e47365 100%) !important;

        background: -o-linear-gradient(#e47365, #dd4b39) !important;

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e47365', endColorstr='#dd4b39', GradientType=0) !important;

        color: #fff

    }


    .bg-black-gradient {

        background: #111 !important;

        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111), color-stop(1, #2b2b2b)) !important;

        background: -ms-linear-gradient(bottom, #111, #2b2b2b) !important;

        background: -moz-linear-gradient(center bottom, #111 0, #2b2b2b 100%) !important;

        background: -o-linear-gradient(#2b2b2b, #111) !important;

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2b2b2b', endColorstr='#111111', GradientType=0) !important;

        color: #fff

    }


    .bg-maroon-gradient {

        background: #d81b60 !important;

        background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d81b60), color-stop(1, #e73f7c)) !important;

        background: -ms-linear-gradient(bottom, #d81b60, #e73f7c) !important;

        background: -moz-linear-gradient(center bottom, #d81b60 0, #e73f7c 100%) !important;

        background: -o-linear-gradient(#e73f7c, #d81b60) !important;

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e73f7c', endColorstr='#d81b60', GradientType=0) !important;

        color: #fff

    }


    .connectedSortable {

        min-height: 100px

    }


    .ui-helper-hidden-accessible {

        border: 0;

        clip: rect(0 0 0 0);

        height: 1px;

        margin: -1px;

        overflow: hidden;

        padding: 0;

        position: absolute;

        width: 1px

    }


    .sort-highlight {

        background: #f4f4f4;

        border: 1px dashed #ddd;

        margin-bottom: 10px

    }


    .full-opacity-hover {

        opacity: .65;

        filter: alpha(opacity=65)

    }


    .full-opacity-hover:hover {

        opacity: 1;

        filter: alpha(opacity=100)

    }


    .chart {

        position: relative;

        overflow: hidden;

        width: 100%

    }


    .chart svg,
    .chart canvas {

        width: 100% !important

    }


    @media print {

        .no-print,
        .main-sidebar,
        .left-side,
        .main-header,
        .content-header {

            display: none !important

        }

        .content-wrapper,
        .right-side,
        .main-footer {

            margin-left: 0 !important;

            min-height: 0 !important;

            -webkit-transform: translate(0, 0) !important;

            -ms-transform: translate(0, 0) !important;

            -o-transform: translate(0, 0) !important;

            transform: translate(0, 0) !important

        }

        .fixed .content-wrapper,
        .fixed .right-side {

            padding-top: 0 !important

        }

        .invoice {

            width: 100%;

            border: 0;

            margin: 0;

            padding: 0

        }

        .invoice-col {

            float: left;

            width: 33.3333333%

        }

        .table-responsive {

            overflow: auto

        }

        .table-responsive > .table tr th,
        .table-responsive > .table tr td {

            white-space: normal !important

        }

    }


    .dbox {

        position: relative;

        background: rgb(255, 86, 65);

        background: -moz-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);

        background: -webkit-linear-gradient(top, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);

        background: linear-gradient(to bottom, rgba(255, 86, 65, 1) 0%, rgba(253, 50, 97, 1) 100%);

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5641', endColorstr='#fd3261', GradientType=0);

        border-radius: 4px;

        text-align: center;

        margin: 60px 0 50px;
        width: 85%;

    }

    .dbox__icon {

        position: absolute;

        transform: translateY(-50%) translateX(-50%);

        left: 50%;

    }

    .dbox__icon:before {

        width: 75px;

        height: 75px;

        position: absolute;

        background: #fda299;

        background: rgba(253, 162, 153, 0.34);

        content: '';

        border-radius: 50%;

        left: -17px;

        top: -17px;

        z-index: -2;

    }

    .dbox__icon:after {

        width: 60px;

        height: 60px;

        position: absolute;

        background: #f79489;

        background: rgba(247, 148, 137, 0.91);

        content: '';

        border-radius: 50%;

        left: -10px;

        top: -10px;

        z-index: -1;

    }

    .dbox__icon > i {

        background: #ff5444;

        border-radius: 50%;

        line-height: 40px;

        color: #FFF;

        width: 40px;

        height: 40px;

        font-size: 22px;

    }

    .dbox__body {

        padding: 50px 20px;

    }

    .dbox__count {

        display: block;

        font-size: 30px;

        color: #FFF;

        font-weight: 300;

    }

    .dbox__title {

        font-size: 13px;

        color: #FFF;

        color: rgba(255, 255, 255, 0.81);

    }

    .dbox__action {

        transform: translateY(-50%) translateX(-50%);

        position: absolute;

        left: 50%;

    }

    .dbox__action__btn {

        border: none;

        background: #FFF;

        border-radius: 19px;

        padding: 7px 16px;

        text-transform: uppercase;

        font-weight: 500;

        font-size: 11px;

        letter-spacing: .5px;

        color: #003e85;

        box-shadow: 0 3px 5px #d4d4d4;

    }


    .dbox--color-2 {

        background: rgb(252, 190, 27);

        background: -moz-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);

        background: -webkit-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);

        background: linear-gradient(to bottom, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcbe1b', endColorstr='#f85648', GradientType=0);

    }

    .dbox--color-2 .dbox__icon:after {

        background: #fee036;

        background: rgba(254, 224, 54, 0.81);

    }

    .dbox--color-2 .dbox__icon:before {

        background: #fee036;

        background: rgba(254, 224, 54, 0.64);

    }

    .dbox--color-2 .dbox__icon > i {

        background: #fb9f28;

    }


    .dbox--color-3 {

        background: rgb(183, 71, 247);

        background: -moz-linear-gradient(top, rgba(183, 71, 247, 1) 0%, rgba(108, 83, 220, 1) 100%);

        background: -webkit-linear-gradient(top, rgba(183, 71, 247, 1) 0%, rgba(108, 83, 220, 1) 100%);

        background: linear-gradient(to bottom, rgba(183, 71, 247, 1) 0%, rgba(108, 83, 220, 1) 100%);

        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b747f7', endColorstr='#6c53dc', GradientType=0);

    }

    .dbox--color-3 .dbox__icon:after {

        background: #b446f5;

        background: rgba(180, 70, 245, 0.76);

    }

    .dbox--color-3 .dbox__icon:before {

        background: #e284ff;

        background: rgba(226, 132, 255, 0.66);

    }

    .dbox--color-3 .dbox__icon > i {

        background: #8150e4;

    }

    .visitor_table {
        overflow-x: scroll !important;
    }

    .warning {
        color: #ff9800;
        float: right;
        font-weight: 600;
    }

    /* Orange */


    /* styel for clock */
    .timezone {
        background-color: mediumaquamarine;
        color: #fff;
        position: relative;
        padding: 5px 57px;
        font-size: 20px;
        border-radius: 5px;
        left: 50%;
        top: 9%;
        transform: translateX(-50%);
        display: none
    }

    .time2 {
        display: none
    }

    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
        .dbox1 {
            margin-top: 50 !important
        }

        .timezone {
            display: block !important
        }

        .timezone {
            background-color: mediumaquamarine;
            color: #fff;
            position: relative;
            padding: 5px 38px;
            font-size: 20px;
            border-radius: 5px;
            left: 50%;
            top: 9%;
            transform: translateX(-50%);
            display: none
        }

        .time2 {
            display: block !important;
            margin-left: 29px;
            font-family: Comic Sans MS, Comic;
            font-size: 15px;
            margin-bottom: -10px;
            margin-top: 20px;
        }
    }

    @media only screen
    and (min-device-width: 414px)
    and (max-device-width: 736px) {
        .dbox1 {
            margin-top: 200px !important
        }

        .timezone {
            display: block !important
        }

        .time2 {
            display: block !important;
            margin-left: 45px;
            font-family: Comic Sans MS, Comic;
            font-size: 15px;
            margin-bottom: -10px;
        }
    }

    }

