#cssda{
	position: fixed;
	top: 180px;
	width: 88px;
	height: 106px;
	text-indent: -666em;
	overflow: hidden;
	z-index: 999;
	-webkit-transition: all 1s ease;
    transition: all 1s ease; 
}
#cssda.top{
	top: 20px;
}
#cssda.left{
	left: 0;
}
#cssda.right{
	right: 0;
}

#cssda a{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 88px;
	height: 106px;
	background-repeat: no-repeat;
	background-size: 88px 106px;
}

/* SPECIAL KUDO */

#cssda.nominee.white.right a{
	background-image: url(ribbons/cssda-special-kudos-kl.png);
}
